@page "/login"
@using OpenPassVault.Web.Providers

@inject NavigationManager NavigationManager
@inject ApiAuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Log ind</PageTitle>

<div class="card">
    <h4 class="card-header">Log ind</h4>
    <div class="card-body">
        @if (errorMessage != null)
        {
            <div class="alert alert-danger" role="alert">
                @errorMessage
            </div>
        }
        <EditForm Model="@model" OnValidSubmit="@OnValidSubmit">
            <DataAnnotationsValidator/>
            <div class="form-group">
                <label>Email</label>
                <InputText @bind-Value="model.Email" class="form-control"/>
                <ValidationMessage For="@(() => model.Email)"/>
            </div>
            <div class="form-group mt-2">
                <label>Password</label>
                <InputText @bind-Value="model.Password" type="password" class="form-control"/>
                <ValidationMessage For="@(() => model.Password)"/>
            </div>
            <div class="mt-4">
                <button disabled="@loading" type="submit" class="btn btn-primary">
                    @if (loading)
                    {
                        <span class="spinner-border spinner-border-sm mr-1"></span>
                    }
                    Log ind
                </button>
                <NavLink href="@Urls.Register" class="btn btn-link">Mangler du en konto? Opret dig!</NavLink>
            </div>
        </EditForm>
    </div>
</div>

@code {
    private LoginRequest model = new();
    private string? errorMessage;
    private bool loading;
    
    protected override void OnInitialized()
    {
        if (AuthenticationStateProvider.CurrentUser != null)
        {
            NavigationManager.NavigateTo(Urls.VaultIndex);
        }
    }

    private async void OnValidSubmit(EditContext editContext)
    {
        try
        {
            loading = true;
            await AuthenticationStateProvider.AuthenticateUser(model);
        }
        catch (Exception)
        {
            SetValidationMessageWhenErrorOccurs("En fejl opstod under login. Prøv igen.");
        }
        finally
        {
            loading = false;
            StateHasChanged();
        }
        
        if (AuthenticationStateProvider.CurrentUser != null)
        {
            NavigationManager.NavigateTo(Urls.VaultIndex);
        }
    }

    private void SetValidationMessageWhenErrorOccurs(string errorMessageText)
    {
        errorMessage = errorMessageText;
        StateHasChanged();
    }
}


