@page "/register"
@using OpenPassVault.Web.Providers

@inject NavigationManager NavigationManager
@inject ApiAuthenticationStateProvider AuthenticationStateProvider
@inject IAuthService AuthService

<PageTitle>Register</PageTitle>

<div class="card">
    <h4 class="card-header">Opret</h4>
    <div class="card-body">
        <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <div class="form-group mt-2">
                <label>Email</label>
                <InputText @bind-Value="model.Email" class="form-control" />
                <ValidationMessage For="@(() => model.Email)" />
            </div>
            <div class="form-group mt-2">
                <label>Password</label>
                <InputText @bind-Value="model.Password" type="password" class="form-control" />
                <ValidationMessage For="@(() => model.Password)" />
            </div>
            <div class="form-group mt-2">
                <label>Bekræft password</label>
                <InputText @bind-Value="model.ConfirmPassword" type="password" class="form-control" />
                <ValidationMessage For="@(() => model.ConfirmPassword)" />
            </div>
            <div class="form-group mt-2">
                <label>Master-password</label>
                <InputText @bind-Value="model.MasterPassword" type="password" class="form-control" />
                <ValidationMessage For="@(() => model.MasterPassword)" />
            </div>
            <div class="form-group mt-2">
                <label>Bekræft master-password</label>
                <InputText @bind-Value="model.ConfirmMasterPassword" type="password" class="form-control" />
                <ValidationMessage For="@(() => model.ConfirmMasterPassword)" />
            </div>
            <div class="mt-4">
                <button disabled="@loading" type="submit" class="btn btn-primary">
                    @if (loading) 
                    {
                        <span class="spinner-border spinner-border-sm mr-1"></span>
                    }
                    Opret
                </button>
                <NavLink href="@Urls.Login" class="btn btn-link">Har du allerede en konto? Log ind</NavLink>
            </div>
        </EditForm>
    </div>
</div>


@code {
    private RegisterViewModel model = new();
    private bool loading;
    
    protected override void OnInitialized()
    {
        if (AuthenticationStateProvider.CurrentUser != null)
        {
            NavigationManager.NavigateTo(Urls.VaultIndex);
        }
    }

    private async Task OnValidSubmit(EditContext editContext)
    {
        loading = true;
        var success = await AuthService.RegisterAsync(model);
        loading = false;
        StateHasChanged();
    
        if (success)
        {
            NavigationManager.NavigateTo(Urls.Login);
        }
        else
        {
            var messageStore = new ValidationMessageStore(editContext);
            messageStore.Add(() => model.Email, "");
            messageStore.Add(() => model.Password, "");
            messageStore.Add(() => model.ConfirmPassword, "");
            messageStore.Add(() => model.MasterPassword, "");
            messageStore.Add(() => model.ConfirmMasterPassword, "Oprettelse mislykkedes!");
            editContext.NotifyValidationStateChanged();
        }
    }
}